


<table class="table table-stripped table-hover table-border" id="wishlistTable">
  <thead>
    <tr>
      <td>Naam</td>
      <td>Beschrijving</td>
    </tr>
  </thead>
  <tbody>
    {% for gift in gifts %}
    <tr data-index="{{ gift.name }}" data-sequence="{{ gift.sequence }}">
      <td>{{gift.name}}</td>
      <td>{{gift.summary}}</td>
      <td><button class="removeGift" data-index="{{ gift.name }}">Verwijder</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</section>