


<table class="table table-stripped table-hover table-border" id="wishlistTable">
  <thead>
    <tr>
      <td>Naam</td>
      <td>Beschrijving</td>
    </tr>
  </thead>
  <tbody>
    {% for kado in kados %}
    <tr data-index="{{ kado.id }}" data-positie="{{ kado.order }}">
      <td>{{kado.naam}}</td>
      <td>{{kado.beschrijving}}</td>
      <td><button class="verwijderKado" data-index="{{ kado.id }}">Verwijder</button></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</section>